fvcore==0.1.5.post20221221
onedl-mim==0.5.1
scikit-multilearn @ git+https://github.com/scikit-multilearn/scikit-multilearn.git#egg=scikit-multilearn
seaborn==0.13.2
SimpleITK==2.5.5
tensorboard==2.20.0
-f https://download.pytorch.org/whl/cu129/torch-2.10.0%2Bcu129-cp312-cp312-manylinux_2_28_x86_64.whl
torch==2.10.0
-f https://download.pytorch.org/whl/cu129
torchvision==0.25.0
yapf==0.43.0
